body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

canvas {
  border: 1px solid black;
  background-color: white;
  margin: 0 auto;
  display: block;
  width: 100vw;
  border-width: 0px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

.debug {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0,0,0,0.4);
  padding:20px;
  font-size: 18px;
  display: block;
  color: white;
  font-family: monospace;

  
}